
.topnav {
    position: fixed;
    top: 0px;
    left: 12%;
    right: 0px;
    padding: 0px 10px;
    overflow: hidden;
    background-color: #aaa;
}

.topnav input {
    padding-right: 30%;
    margin: 2px 0px;
    
}

.topnav a {
    float: right;
    color: black;
    background-color: #888;
    text-align: center;
    padding: 2px 7px;
    margin: 3px 10px;
    text-decoration: none;
    font-size: 12px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}